<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title th:text="${recipe.getDescription()}"></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              crossorigin="anonymous"
              th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}">

        <script th:src="@{/webjars/jquery/3.4.1/dist/jquery.min.js}"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                crossorigin="anonymous"
                th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
    </head>
    <body>

    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" th:text="${recipe.getDescription()}">Recipe Title</h1>
                    </div>
                    <div class="panel-body">
                        <dl class="row">
                            <dt class="col-sm-3">Categories:</dt>
                            <dd class="col-sm-9">adasdasdasd</dd>

                            <dt class="col-sm-3">Prep Time:</dt>
                            <dd class="col-sm-9">adasdasdasd</dd>

                            <dt class="col-sm-3">Cook Time:</dt>
                            <dd class="col-sm-9">adasdasdasd</dd>
                        </dl>
                    </div>

                </div>
            </div>
        </div>
    </div>

    </body>
</html>