<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add New Recipe</title>
    </head>
    <body>
        <h1>Add new recipe</h1>
        <form action="#" th:action="@{/recipe/add}" th:object="${recipe}" method="post">
            <label for="recipe_description">Title:</label>
            <input id="recipe_description" type="text" th:field="${recipe.description}"/>
            <br>
            <label for="recipe_prepTime">Preparation Time:</label>
            <input id="recipe_prepTime" type="text" th:field="${recipe.prepTime}"/>
            <br>
            <label for="recipe_cookTime">Cook Time:</label>
            <input id="recipe_cookTime" type="text" th:field="${recipe.cookTime}"/>
            <br>
            <label for="recipe_servings">Servings:</label>
            <input id="recipe_servings" type="text" th:field="${recipe.servings}"/>
            <br>
            <label for="recipe_difficulty">Difficulty:</label>
            <select id="recipe_difficulty" name="difficulty" th:field="${recipe.difficulty}">
                <option th:each="difficultyOpt : ${T(guru.springframework.domain.Difficulty).values()}"
                        th:value="${difficultyOpt}" th:text="${difficultyOpt}"></option>
            </select>
            <br>
            <label for="recipe_category">Category:</label>
            <select id="recipe_category" name="category" th:field="${recipe.categories}">
                <option th:each="category : ${categories}"
                        th:value="${category.id}" th:text="${category.description}"></option>
            </select>
            <br>
            <label for="recipe_source">Source:</label>
            <input id="recipe_source" type="text" th:field="${recipe.source}"/>
            <br>
            <br>
            <input type="submit">
        </form>
    </body>
</html>